@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
.unusual {
    padding-bottom: 64px;
    &__pictures {
        display: flex;
        flex-direction: row;

        &__item {
            margin-right: 42px;
            position: relative;

            &__text {
                position: absolute;
                top: 75%;
                left: 10px;
                color: #FFF;
                font-family: "Manrope";
                font-style: normal;
                line-height: 24px;

                h3 {
                    font-size: 24px;
                    font-weight: 800;
                    margin: 0;
                }

                p {
                    font-size: 13px;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }
    }
}