.calendar {
    text-align: left;

    &__mobile {
        display: none;
    }

    &__block {
        border-radius: 12px;
        border: 1px solid #E0E0E0;
        padding: 10px 20px;
        margin-top: 22px;
    }
}

@media screen and (max-width: 480px) {
    .calendar {
        &__mobile {
            display: flex;
            flex-direction: row;
        }
        &__block {
            overflow-x: scroll;
            border: none;
            padding: 10px 0;
        }

        
    }

    .container {
        padding-bottom: 150px;
    }
}