@import '../../variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 0px 140px;
    align-items: center;
    gap: 180px;
    background: $blue;

    &__left {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__search {
            &__input {
                width: 320px;
                height: 44px;
                border-radius: 12px;
                border: none;
background: rgba(255, 255, 255, 0.70);

            }
        }
    }

    &__right {
        &__nav {
            display: flex;
            flex-direction: row;
            align-items: center;

            &__link {
                color: #FFF;
                font-family: "Manrope";
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                /* 133.333% */
                text-decoration: none;
                padding-right: 20px;

                &__enter {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "Manrope";
                    font-size: 16px;
                    width: 83px;
                    height: 32px;
                    border-radius: 48px;
                    border: 1px solid #FFF;
                    background: $blue;
                    font-style: normal;
                    font-weight: 800;
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        display: none;
    }
}