.eventMini {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 335px;
    height: 124px;
    padding: 5px 10px;
    border: 1px solid #E0E0E0;
    margin-right: 50px;

    h3 {
        margin: 0;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 24px;
    }

    &__p {
        color: #808080;
        margin: 0;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        text-align: end;
        position: relative;

        &__info {

            &__date {
                align-items: center;
                padding-left: 30px;
                background-image: url(../../../../imgs/clock.svg);
                background-repeat: no-repeat;
                margin-bottom: 10px;
                font-size: 15px;
                margin-bottom: 10px;
                color: #000;
            }

            &__price {
                align-items: center;
                padding-left: 30px;
                background-image: url(../../../../imgs/price.svg);
                background-repeat: no-repeat;
                margin-bottom: 10px;
                font-size: 15px;
            }
        }

        &__ticket {
            display: flex;
            flex-direction: column;
            text-align: end;
            border-radius: 48px;
            background: #112F63;
            height: 24px;
            width: auto;
            padding: 0 10px;
            color: #FFF;
            position: absolute;
            top: 45%;
            left: 53%
        }
    }
}

@media screen and (max-width: 480px) {
    .eventMini {
        width: 360px;
        padding-right: 150px;

        &__bottom {
                &__ticket {
                    top: 45%;
                    left: 150%
                }
            
        }

        
    }
}