.recommend {
    &__events {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 480px) {
    .recommend {
        &__events {
            overflow-x: scroll;
        }
    }
}